{% extends 'core/base.html' %}

{% block titulo %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Turnos: Lista de Turnos</h1>
</div> 
{% endblock titulo %}

{% block contenido %}

<div class="container-fluid p-4">    

    <div class="py-lg-4 mb-3">
        <form action="{% url 'turno:turno_list' %}" method="get">
            <input type="text" name="consulta" placeholder="Buscar..." class="form-control">
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for turno in object_list %}
            <tr>
                <td>{{ turno.nombre }}</td>
                <td>
                    <a href="{% url 'turno:turno_detail' turno.id %}" class="btn btn-info">Detalle</a>
                    <a href="{% url 'turno:turno_update' turno.id %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'turno:turno_delete' turno.id %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'turno:home' %}" class="btn btn-secondary">Volver a Turnos</a>
</div>

{% endblock contenido %}
