{% extends 'core/base.html' %}

{% block titulo %}
    Clientes
{% endblock titulo %}

{% block contenido %}
    {% for cliente in clientes %}
        <h2>{{ cliente.nombre }}</h2>
        <p>{{ cliente.apellido }}</p>
        <p>{{ cliente.nacimiento }}</p>
        {% if cliente.pais_origen_id %}
            <p>{{ cliente.pais_origen_id }}</p>
        {% else %}
            <p>No tiene pais de origen</p>
        {% endif %}
    {% endfor %}

    <a href="{% url 'core:home' %}">Volver al Inicio</a>
{% endblock contenido %}

