{% extends 'core/base.html' %}
{% load static %}

{% block title %}
   About Me
{% endblock title %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-3 ">
                <img src="{% static 'core/img/yo.jpg' %}" class="img-fluid rounded-circle" alt="Maximiliano Paez" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-6" style="display: flex; align-items: center;">
                <div style="margin-left: 50px;">
                    <h2>Sobre mí</h2>
                    <p>¡Hola! Soy Maximiliano Paez, un apasionado de la informática y el desarrollo de software. Me encanta trabajar en proyectos que desafíen mis habilidades y me permitan crecer profesionalmente. Mi objetivo es abrirme camino como profesional en el mundo del desarrollo de software, creando soluciones innovadoras y de calidad para satisfacer las necesidades de mis clientes.</p>
                    <p>Además de mi interés por la informática, soy un entusiasta del pádel y disfruto pasar tiempo con mi familia. Me considero una persona comprometida, creativa y con ganas de aprender cada día más.</p>
                    <p>Gracias por visitar mi página, ¡espero que disfrutes explorando mis proyectos y aprendiendo más sobre mí!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}
