{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
{% endblock titulo %}

{% block contenido %}
    {% if user.is_authenticated %}
        {{ mensaje }}
    {% endif %}

    <main>
        <div class="container-fluid p-4">
            <!-- Imagen con texto y botón -->
            <div class="row">
                <div class="col-md-12">
                    <img src="{% static 'core/img/fondo.jpg' %}" class="img-fluid w-100" alt="Imagen de Fondo" style="position: absolute; z-index: -1; top: 0; left: 0; height:100%;">
                    <div class="text-white text-center p-4" style="z-index: 1; top: 50%; left: 50%; background-color: rgba(0, 0, 0, 0.5);">
                        <h2>Nostra Padel</h2>
                        <p>Sitio donde podrás encontrar turnos en tiempo real, agendar y contactarte con las canchas!!!</p>
                        <p>Contactanos</p>
                        <a href="https://wa.me/3537325637" target="_blank" class="btn btn-primary">Ir a WhatsApp</a>
                    </div>
                </div>
            </div>

            <!-- Cards -->
            <div class="row mt-4">
                {% for turno in turnos %}
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success   text-white mb-4">
                            <div class="card-body">
                                <h5 class="card-title">{{ turno.object }}</h5>
                                <p class="card-text">Lugar: {{ turno.categoria_id }}</p>
                                <p class="card-text">Cancha: {{ turno.unidad_medida }}</p>
                                <p class="card-text">Precio: {{ turno.precio }}</p>
                                <p class="card-text">Precio: {{ turno.descripcion }}</p>
                                
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="btn btn-light stretched-link" href="{% url 'turno:turno_detail' turno.pk %}">Ver Detalles</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock contenido %}
