{% extends 'core/base.html' %}

{% block title %}
   Login
{% endblock title %}

{% block contenido %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-4">
                <div class="card border-primary shadow-lg">
                    <div class="card-header bg-primary text-white">
                        <h1 class="mb-0">Login</h1>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{  form.as_p  }}
                            <input type="hidden" name="next" value="{% url 'core:home' %}">
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Ingresar</button>
                                <a href="{% url 'core:home' %}" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}
