{% extends 'core/base.html' %}

{% block title %}
   Login
{% endblock title %}

{% block contenido %}
    <div class="container">
        <h1 class="mt-4">Login</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        {{  form.as_p  }}
        <input type="hidden" name="next" value="{% url 'core:home' %}">
        <button type="submit" class="btn btn-primary">Ingresar</button>
        <a href="{% url 'core:home' %}"class="btn btn-secundary">Cancelar</a>
    </form>

{% endblock contenido %}