{% extends 'core/base.html' %}

{% block titulo %}
  
{% endblock titulo %}

{% block contenido %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-4">
                <div class="card border-primary shadow-lg">
                    <div class="card-header bg-primary text-white">
                        <h1 class="mb-0">Has cerrado sesión</h1>
                    </div>
                    <div class="card-body">
                        <p class="lead">Has cerrado sesión exitosamente. ¡Esperamos verte pronto!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}
